
                <!DOCTYPE html>
                <html>
                <head>
                    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mystyle.css') }}">
                    <meta http-equiv="refresh" content="2" />
                    <title>POKER GAME</title>
                </head>
                <body>
                    <div id="poker_table">
                        <div id="card_area">

                            <div class=card_poker_black>
                                8
                                <div class="card_symbol">
                                    ♠
                                </div>
                            </div>

                            <div class=card_poker_black>
                                Q
                                <div class="card_symbol">
                                    ♠
                                </div>
                            </div>

                            <div class=card_poker_black>
                                K
                                <div class="card_symbol">
                                    ♣
                                </div>
                            </div>

                            <div class=card_poker_red>
                                K
                                <div class="card_symbol">
                                    ♦
                                </div>
                            </div>

                        </div>
                    </div>
                </body>
                </html>
